@using FluentBootstrap
@using WEBAPP.Helper
@using UtilityLib
@using UtilityLib
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

@section stylesheet{
    <style>
        .btn-primary, .btn-primary:focus {
            background-color: #003c72 !important;
            border-color: #003c72;
        }

        .page-content {
            background-color: #fff;
            position: relative;
            margin: 0;
            padding-left:0px;
            padding-right:0px;
        }
    </style>
}

<div style="background-image:url('@Url.Content("~/Uploads/Image/pagenotfound.png")');background-repeat: no-repeat; background-position-x: center; background-color:white; width:100%; height:440px; ">

</div>
